@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="fs-1 col-11">Personal Blog</div>
    <a class="col-1 text-center justify-content-center align-content-center align-items-center text-decoration-none text-black" href="/Admin/Dashboard/New"><i class="bi bi-plus"></i>Add</a>
</div>
<div class="row">
    <div class="col-10">My First Article</div>
    <a class="col-1 text-center text-decoration-none text-black-50" href="">Edit</a>
    <a class="col-1 text-center text-decoration-none text-black-50" href="">Delete</a>
</div>